{% extends "base.html" %}
{% block title %}Raj Julha - Udacity CS253 Web Application Engineering April 2012 Assignments{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <p class="important">
        Raj Julha - Udacity CS253 Blog (Homework 3)
    </p>

        <h2>Post</h2>
        <form method="post">
            <label>
                <div>Subject</div>
                <input type="text" name="subject" width="80" value="{{subject}}" >
            </label>
            <label>
                <div>Comment</div>
                <textarea name="content" rows="8" cols="80" >{{content}}</textarea>
            </label>

            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
        <hr>
        {% for art in arts %}
            <div class="art">
                <div class="art-title">{{art.subject}}</div>
                <pre class="art-body">{{art.content}}</pre>
            </div>
        {% endfor %}

{% endblock %}


