{% extends "base.html" %}
{% block title %}Raj Julha - Udacity CS253 Web Application Engineering April 2012 Assignments{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <p class="important">
      Posts
    </p>

        <div class="error">{{error}}</div>

        {% for post in posts %}
            <hr>
            <div class="post">
                <div class="post-title">{{post.subject}}</div>
                <div class="post-created">{{post.created}}</div>
                <!-- strftime("%Y-%m-%d %H:%M:%S", localtime()) -->
                <pre class="post-content">{{post.content}}</pre>
            </div>

        {% endfor %}
        <br>Queried {{cacheage}} seconds ago

{% endblock %}



