<!DOCTYPE html>
<html>
    <head>
        <title>Raj Julha - Udacity CS253 WIKI (Homework 7)</title>
    </head>
    <body>
        <a href="/wiki/_history/{{pageid}}">History</a> &nbsp;nbsp;
        {% if pageaction == 'edit' %}
        <a href="{{editurl}}">View</a>

        <br>
        <form method="post" >
                <textarea name="content" rows="20" cols="150">{{content}}</textarea>

            <input type="submit" value="Save">
        </form>
        {% else %}
            <a href="{{editurl}}">Edit</a>
            <br>
            {{content}}
        {% endif %}

       {% if wikidata == 'page2' %}

            This is page 2
       {% endif %}
      <br> <div class="error">{{error}}</div>
      <br> pageid : {{pageid}}
    </body>
</html>


