{% extends "base.html" %}
{% block title %}Raj Julha - Udacity CS253 Web Application Engineering April 2012 Assignments{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <p class="important">
        Raj Julha - Udacity CS253 WIKI (Homework 7)
    </p>
        {{pageid}} &nbsp;
        <a href="/wiki/_history/{{pageid}}">History</a> &nbsp;&nbsp;
        {% if pageaction == 'edit' %}
        <a href="{{editurl}}">View</a>

        <br>
        <form method="post" >
                <textarea name="content" rows="20" cols="150">{{content}}</textarea>

            <input type="submit" value="Save">
        </form>
        {% else %}
            <a href="{{editurl}}">Edit</a>
            <br /><br />
            {{content}}
        {% endif %}

       {% if wikidata == 'page2' %}
            This is page 2
       {% endif %}
      <br> <div class="error">{{error}}</div>


{% endblock %}


