{% extends "base.html" %}
{% block title %}Raj Julha - Udacity CS253 Web Application Engineering April 2012 Assignments{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <p class="important">
        Raj Julha - Udacity CS253 WIKI (Homework 7)
    </p>
        {{pageid}} &nbsp;


        {% for wikipage in wikipages %}
            <div class="post">
                <div class="post-subject">{{wikipage.subject}}</div>
                <div class="post-created">{{wikipage.created}}</div>
                <!-- strftime("%Y-%m-%d %H:%M:%S", localtime()) -->
                <pre class="post-content">{{wikipage.content}}</pre>
            </div>
        
        {% endfor %}
        <br>Queried {{cacheage}} seconds ago

{% endblock %}


