{% extends "base.html" %}
{% block title %}Raj Julha - Udacity CS253 Web Application Engineering April 2012 Assignments{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <p class="important">
        Raj Julha - Udacity CS253 WIKI (Homework 7)
    </p>
        {{pageid}} &nbsp;

        <h1>History</h1>
        <div class="error">{{error}}</div>
        <table>
            <tr>
                <td>Date</td>
                <td>content</td>
                <td>View</td>
                <td>Edit</td>
            </tr>
        {% for page in pages %}
        
            <tr>
                <td>{{page.created}}</td>
                <td>{{page.content}}</td>
                <td><a href="/wiki/{{page.page}}?v={{page.key().id()}}">view</a></td>
                <td><a href="/wiki/_edit/{{page.page}}?v={{page.key().id()}}">edit</a></td>
            </tr>
 
        {% endfor %}
        </table>

        <br>Queried {{cacheage}} seconds ago

{% endblock %}

